@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box; /*adding this to ensure consistency with overall site padding, this helps especially for the contact form as the input boxes tend to overflow*/
}

html {
    font-family: "Inclusive Sans", Helvetica, sans-serif;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3, .author-in-page {
    font-family: "Arapey", Georgia, serif;
}

p {
    margin: 0;
}


/* -- NAV -- */
nav {
    background-image: url("../images/pexels-nipananlifestyle-com-625927-1581484-optimized.jpg");
    background-size: cover; /*make image fill the space*/
    width: 100%;
    display: flex;
    justify-content: space-between; /*to make the icon and the unordered list stay in the edges of the browser*/
    margin: 0;
}

.site-home-icon {
    color: rgb(54, 121, 46);
    width: 45px;
    height: 45px;
    margin: 1rem 0rem 0rem 1rem; /*home icon spacing from the edges*/
}

nav ul {
    color: rgb(25, 25, 25);
    background-color: rgba(255, 255, 255, 0.735);
    margin: 0;
    padding-top: 6rem;
}

nav ul li {
    list-style: none;
    margin: 1rem 1rem 1rem 0rem;
}

a {
    text-decoration: none;
    color:rgb(25, 25, 25);
}

/*pseudo classes for the menu links*/
a:visited, 
li a:visited {
    color: rgb(25, 25, 25);
}

a:hover {
    font-weight: 700;
    text-decoration: underline;
}


/* -- HEADER -- */
header {
    padding-left: 5vw;
    padding-right: 5vw;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

/*search bar*/
label {
    font-size: 1rem;
}

input[type="search"] {
    width: 100%; /*take up whole width*/
    max-width: 100%; /*but not to overflow*/
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-size: 0.8rem;
    font-style: italic;
}

/*pseudo classes*/
input[type="search"]:focus {
    background-color: rgba(54, 121, 46, 0.18);
    color: rgb(25, 25, 25);
}

input[type="submit"] {
    width: 100%;
    max-width: 100%;
    background-color: rgb(54, 121, 46);
    color: white;
    padding: 0.5rem;
    align-items: center;
}

input[type="submit"]:hover {
    background-color:rgb(25, 25, 25);
}


/* -- MAIN -- */
h2 {
    margin-top: 5vh;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid rgb(25, 25, 25);
}

#article-title {
    margin: 3vh 0vh 1vh 0vh;
    font-size: 2.5rem;
    text-align: left;
    border: none;
}

h3 {
    margin: 0;
    font-size: 1.8rem;
    margin: 4vh 0vw 1vh 0vw;
}

.overview {
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-bottom: 1vh;
}

main p {
    line-height: 1.5rem;
    margin-bottom: 1vh;
}

.author, 
.category, 
.date {
    font-size: 0.8rem;
    color: rgba(25, 25, 25, 0.673)
}

.author-in-page { /*bigger font size in the individual articles*/
    font-size: 1.4rem;
    margin: 0.5vh 0vw 1vh 0vw;
}

h2, 
h3, 
.author-cat, 
.author-cat-recent, 
main p {
    padding-left: 5vw;
    padding-right: 5vw; /*give these a padding so that the img can touch the sides of the browser*/
}

main ul li {
    margin-bottom: 0.2vh;
    line-height: 1.5rem;
    padding-right: 5vw;
}

/*images, author name, and info*/
.article-img { /*make images for article previews touch the sides of the browser, in index and all articles pages*/
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    overflow: hidden;
    display: block;
    margin-bottom: 0.5rem;
}

.article-img:hover { /*pseudo class for images in preview articles*/
    transform: scale(0.9);
}

/*css for the img in individual articles*/
.full-article-img {
    width: 100%;
    height: 30vh; /*increase height*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.full-article-img img { /*make the image fill the container*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-cat, 
.author-cat-recent { /*author and category in one line in article previews*/
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5vh;
}

.article-detail { /*category and date in one line in individual pages*/
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.author:hover, 
.category:hover, 
.date:hover {
    color: rgb(54, 121, 46);
}

.article-source { /*text attribution for article*/
    margin: 3vh 0vw 3vh 0vw;
    font-size: 0.8rem;
    font-style: italic;
}

.article-source a {
    color: rgb(54, 121, 46);
}

.article-source a:hover {
    color: rgb(25, 25, 25);
    text-decoration: underline;
}

.list-title {
    font-weight: 600;
    margin: 0;
    margin-top: 3vh;
}

/*read more*/
.show-more {
    margin: 5vh 5vw 0vh 5vw;
    padding: 1rem;
    border: 1px solid black;
}

h4 { /*used for the read more*/
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.button {
    display: inline-block;
    padding: 10px 80px;
    color: rgb(255, 255, 255) !important; /*as default font color is black*/
    font-size: 0.8rem;
    background-color: rgb(54, 121, 46);
    text-decoration: none;
    border: none;
    border-radius: 1px;
    margin-top: 2vh;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.button:hover {
    background-color:rgb(25, 25, 25);
    font-weight: 400;
    text-decoration: none; /*remove styles of the link and have it operate similar to a button*/
}

/* -- CONTACT -- */
.contact {
    margin: 0vh 5vw 0vh 5vw;
}

form {
    max-width: 500px;
    margin: 0; 
}

label, 
input, 
select, 
textarea {
    width: 100%;  
    max-width: 600px;
    margin-bottom: 1rem;
}

label {
    font-size: 0.8rem;
}

input, 
select, 
textarea { /*give some breathing room*/
    margin-top: 0.3rem;
    padding: 0.5rem;
}

textarea {
    height: 100px;
}

input:focus, 
textarea:focus {
    background-color: rgba(54, 121, 46, 0.18);
    color: rgb(25, 25, 25);
}

/*image in the contact page*/
.contact-img {
    display: none; /*hide on mobile first*/
}

/* -- SOURCES -- */
main table {
    margin: 5vw;
}

table .all-sources { /*content attribution in sources page*/
    margin-top: 1vh; /*as main p tag has a bottom margin already*/
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.9rem;
    font-style: italic;
    justify-items: left;
    padding: 0 !important; 
}

.all-sources a {
    color: rgb(54, 121, 46);
}

table {
    margin: 2vw;
    margin: auto;
    border-collapse: collapse; /*combine borders*/
}

th {
    padding: 5vw;
    border-bottom: 1px solid rgb(25, 25, 25);
    background-color: rgba(54, 121, 46, 0.149);
}

td {
    padding: 2vw;
    border-bottom: 1px solid rgb(25, 25, 25);
    margin: auto;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

td a {
    color: rgb(54, 121, 46) !important; /*adding !important as the color needed to be overriden*/
}

td a:hover {
    text-decoration: underline;
    color: rgb(25, 25, 25) !important;
}

.source-img {
    margin: auto;
    width: 100px;
    height: auto;
    object-fit: cover; /*make image not stretch*/
}

/* -- FOOTER -- */
footer {
    margin-top: 10vh;
    background-color: rgb(25, 25, 25);
    padding: 1rem;
    color: white;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}

.footer-title {
    font-family: "Arapey", Georgia, serif;
    font-size: 1.6rem;
}

.footer-text {
    margin: 1vh 15vw 3vh 0vw;
    color: white;
}

/*back to top icon sticky*/
.back-to-top { 
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

/* -- RESPONSIVENESS -- */

/*tablet*/
@media (min-width: 600px) {
    /* NAV */
    nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; /*icon, then nav*/
        justify-items: start; /*align children to the left*/
        background-size: cover; /*make image fill the space*/
    }

    nav .site-home-icon {
        margin: 2vw;
    }

    nav ul {
        width: 100%;
        padding: 1vh 0 1vh 0;
        display: grid; /*put menu links into horizontal line*/
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        padding-right: 25vw;
        padding-left: 25vw;
    }

    nav ul li {
        text-align: center;
        margin: 0.5rem;
    }

    /* MAIN */

    /*index page*/
    .article-img {
        width: 100%;
        height: 25rem;
    }

    .article-img img { /*make image fill the height*/
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .show-more {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button {
        display: inline-block;
        padding: 10px 80px;
        color: rgb(255, 255, 255) !important; /*as default font color is black*/
        font-size: 0.8rem;
        background-color: rgb(54, 121, 46);
        text-decoration: none;
        border: none;
        border-radius: 1px;
        max-width: 300px;
    }

    /*article pages*/
    #article-title, .overview {
        width: 55%;
    }

    main p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .article-text {
        width: 65%;
        margin: auto; /*center article content*/
    }

    .article-text p,
    .article-text h3 {
        padding: 0 5vw;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;  
    }

    .full-article-img {
        height: 30rem;
    }

    article ul {
        list-style-position: inside; /*don't make the bullets overflow*/
        padding-left: 3rem;
    }

    .article-text ul li {
        font-size: 1.1rem;
        margin-bottom: 0.4vh;
        text-indent: -1rem;
        padding-left: 1rem;
    }

    /* FOOTER */
    footer {
        padding: 5vh 0vw 5vh 4vw;
    }
    
    footer div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 1rem;
        align-items: center;
    }

    .site-home-icon {
        margin: 0;
    }

    .footer-title {
        font-family: "Arapey", Georgia, serif;
        font-size: 2rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

/*desktop*/
@media (min-width: 880px) {
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
    }

    .index-header {
        display: flex;
        flex-direction: column; /*have the h1 and p stack vertically*/
        max-width: 450px;
    }

    header form {
        max-width: 250px;
        margin-left: auto; 
        padding-top: 5vh;
    }

    /* MAIN */
    .recent-articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .most-recent { 
        grid-column: 1 / span 2; /* spans both columns */
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 5rem;
    }

    h3 {
        margin: 0;
        padding-left: 5vw;
        padding-bottom: 1vw; 
    }

    /*all articles page*/
     .all-articles {
        padding-top: 5vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5rem;
    }

    .article-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 5vw;
    }

    .author-cat-recent { /*first recent article stacked text*/
        display: flex;
        flex-direction: column;
        margin-top: auto; /*align bottom*/
    }

    .article-img {
        width: 100%;
        height: 25rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    /*individual article pages*/
    #article-title {
        margin-top: 5vh;
    }

    .author, .category, .date {
        font-size: 1rem;
        color: rgba(25, 25, 25, 0.614);
    }

    .article-text {
        width: 50%;
    }

    .full-article-img {
        height: 45rem;
    }

    article ul {
        padding-left: 5rem;
    }

    .article-text ul li {
        margin-bottom: 0.8vh;
    }

    /*contact form*/
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 1rem;
    }

    .contact-img {
        width: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        display: block;
    }

    /*sources*/
    main table {
        margin: auto;
        margin: 0vh 5vw 0vh 5vw;
    }

    th {
        padding: 2vw;
        border-bottom: 1px solid rgb(25, 25, 25);
        background-color: rgba(54, 121, 46, 0.149);
        font-size: 1.2rem;
    }

    td {
        width: 25%;
        font-size: 1rem;
    }

    /*back to top icon sticky*/
    .back-to-top { 
        padding: 0;
        margin: 0;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
    }
}
